@font-face {
  font-family: NotoSans;
  src: url(/fonts/NotoSans/NotoSans-Thin.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: NotoSans;
  src: url(/fonts/NotoSans/NotoSans-ExtraLight.ttf) format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: NotoSans;
  src: url(/fonts/NotoSans/NotoSans-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: NotoSans;
  src: url(/fonts/NotoSans/NotoSans-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: NotoSans;
  src: url(/fonts/NotoSans/NotoSans-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: NotoSans;
  src: url(/fonts/NotoSans/NotoSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: NotoSans;
  src: url(/fonts/NotoSans/NotoSans-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: NotoSans;
  src: url(/fonts/NotoSans/NotoSans-ExtraBold.ttf) format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: NotoSans;
  src: url(/fonts/NotoSans/NotoSans-Black.ttf) format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Thin.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: Roboto;
  src: url(/fonts/Roboto/Roboto-Black.ttf) format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: SCDream;
  src: url(/fonts/SCDream/SCDream1.otf) format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: SCDream;
  src: url(/fonts/SCDream/SCDream2.otf) format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: SCDream;
  src: url(/fonts/SCDream/SCDream3.otf) format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: SCDream;
  src: url(/fonts/SCDream/SCDream4.otf) format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: SCDream;
  src: url(/fonts/SCDream/SCDream5.otf) format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: SCDream;
  src: url(/fonts/SCDream/SCDream6.otf) format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: SCDream;
  src: url(/fonts/SCDream/SCDream7.otf) format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: SCDream;
  src: url(/fonts/SCDream/SCDream8.otf) format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: SCDream;
  src: url(/fonts/SCDream/SCDream9.otf) format("opentype");
  font-weight: 900;
}

@font-face {
	font-family: Pretendard;
	font-weight: 100;
  src: url(/fonts/Pretendard/woff2/Pretendard-Thin.woff2) format('woff2'),
        url(/fonts/Pretendard/woff/Pretendard-Thin.woff) format('woff');
}

@font-face {
	font-family: Pretendard;
	font-weight: 200;
	src: url(/fonts/Pretendard/woff2/Pretendard-ExtraLight.woff2) format('woff2'),
        url(/fonts/Pretendard/woff/Pretendard-ExtraLight.woff) format('woff');
}

@font-face {
	font-family: Pretendard;
	font-weight: 300;
	src: url(/fonts/Pretendard/woff2/Pretendard-Light.woff2) format('woff2'),
        url(/fonts/Pretendard/woff/Pretendard-Light.woff) format('woff');
}

@font-face {
	font-family: Pretendard;
	font-weight: 400;
	src: url(/fonts/Pretendard/woff2/Pretendard-Regular.woff2) format('woff2'),
        url(/fonts/Pretendard/woff/Pretendard-Regular.woff) format('woff');
}

@font-face {
	font-family: Pretendard;
	font-weight: 500;
	src: url(/fonts/Pretendard/woff2/Pretendard-Medium.woff2) format('woff2'),
        url(/fonts/Pretendard/woff/Pretendard-Medium.woff) format('woff');
}

@font-face {
	font-family: Pretendard;
	font-weight: 600;
	src: url(/fonts/Pretendard/woff2/Pretendard-SemiBold.woff2) format('woff2'),
        url(/fonts/Pretendard/woff/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
	font-family: Pretendard;
	font-weight: 700;
	src: url(/fonts/Pretendard/woff2/Pretendard-Bold.woff2) format('woff2'),
        url(/fonts/Pretendard/woff/Pretendard-Bold.woff) format('woff');
}

@font-face {
	font-family: Pretendard;
	font-weight: 800;
	src: url(/fonts/Pretendard/woff2/Pretendard-ExtraBold.woff2) format('woff2'),
        url(/fonts/Pretendard/woff/Pretendard-ExtraBold.woff) format('woff');
}

@font-face {
	font-family: Pretendard;
	font-weight: 900;
	src: url(/fonts/Pretendard/woff2/Pretendard-Black.woff2) format('woff2'),
        url(/fonts/Pretendard/woff/Pretendard-Black.woff) format('woff');
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #FFF;
  font-family: NotoSans;
  font-weight: 400;
  color: #000;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

body,
body #__next {
  width: 100%;
  height: 100%;
  margin: 0;
}